<% if user_signed_in? %>
    <h2>Hello <%= current_user.email%></h2>
    <h3>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </h3>

<% else %>
    <h1>
      <%= link_to('Login', new_user_session_path)  %>
    </h1>
<% end %>
<% if user_signed_in? && current_user.role == 'Developer' %>
    <h3><%= link_to('New book', 'pages/new')  %></h3>
<% end %>

<% @books.each do |book| %>
    <div class="book">
      <h4><%= book.name %></h4>
      <p>Author is: <%= book.author %>. It's about a <%= book.description %></p>

      <%= button_to 'Details', book, :method => :get%>
      <% if user_signed_in? && current_user.role == 'Developer' %>
      <br/>
      <%= button_to 'Delete', book, :method => :delete %>
          <% end %>
    </div>
<% end %>