<% if user_signed_in? && current_user.role == 'Developer' %>
    <h2>Hello <%= current_user.email%></h2>
    <h3>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </h3>
    <%= form_for :book do |f| %>
        <div class="field">
          <%= f.label :Name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :author %><br />
          <%= f.text_field :author, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :pages_count %><br />
          <%= f.text_field :pages_count, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :book_text %><br />
          <%= f.text_area :book_text, autofocus: true %>
        </div>
        <%= f.submit 'Add new book'%>
        <% end %>

<% else %>
    <h1>
      Fuck out to login page! You must be logged as a developer
      <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% else %>
          <%= link_to('Login', new_user_session_path)  %>
      <% end %>
    </h1>
<% end %>

